//- Navbar with dropdowns, default color
+nav("Mad Squabbles", "dropdown_menu")
        +nav_item( "/", "active" ) Home
        +nav_item( "/roster" ) Roster
        +nav_item( "/schedule" ) Schedule
