.jumbotron {
  h1 {
    margin-top: 0
  }
}

.weather {
  background-color: black;
  color: white;
  padding-bottom: 20px;

  .weather-header {
    font-size: 36px;
  }

  .weather-conditions {
    font-size: 108px;
    line-height: 108px;
  }

  .weather-temperature {
    .actual-temp {
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: center;
      justify-content: center;
      font-weight: 600;
      color: white;
      .temp {
        font-size: 96px;
        line-height: 96px;
      }
      .deg {
        top: 10px;
        line-height: normal;
        font-size: 24px;
        margin-right: 2px;
      }
      .temp-unit {
        top: 11px;
        line-height: normal;
        margin-right: 0;
        font-size: 24px;
      }
    }
  }

  .weather-summary {
    padding-top: 20px;
    text-align: center;
    font-size: 24px;
    line-height: 24px;
  }
}